<% @title = "Agregar Fuerza" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Fuerzas de Porter", factors_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Agregar Fuerza</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Agregar Fuerza</p>
          <p class="subtitle is-6 has-text-centered">Nueva fuerza que afecta a la organización.</p>
                      
          <%= render 'form', force: @force %>

          <%= link_to 'Regresar', factors_path %>
      </div>
  </div> 

  </div>
</div>

