<div class="field">
  <label for="content" class="label is-normal">Objetivo</label>
  
  <div class="control">
      <textarea id="content"  v-model="objective.content" cols="30" class="textarea is-info"></textarea>    
  <div class=""></div>
  </div>
</div>
<div class="title is-6">Asignar estrategias</div>
<div class="field is-grouped margin-small-topons">
    <button type="submit" class="button is-success" v-if="edit">Editar</button>
    <button type="submit" class="button is-success" v-else>Guardar</button>
</div>

