<% @title = "Editar Objetivo" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Objetivos", objectives_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Objetivo</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Objetivo</p>
          <p class="subtitle is-6 has-text-centered">Editar el objetivo del mapa estrategico.</p>
                      
          <%= render 'form', objective: @objective, perspective_id: @perspective_id %>

          <%= link_to 'Regresar', objectives_path %>
      </div>
  </div> 

  
</div>

