<% @title = "Editar Fuerza" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Fuerzas de Porter", factors_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Fuerza</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Fuerza</p>
          <p class="subtitle is-6 has-text-centered">Modificar fuerza que afecta a la organización.</p>
                      
          <%= render 'form', factor: @factor, force_id: @force_id %>

            <%= link_to 'Regresar', factors_path %>
        </div>
      </div>

  </div>
</div>

