<% @title = "Misión y Visión" %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Inicio", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">La Misión y Visión</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-10 is-offset-1">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">La Misión y Visión</p>
          <p class="subtitle is-6 has-text-centered">La misión y visión de la organización.</p>
                      
          <div class="columns">
              <div class="column">
                  <h2 class="title is-4">Misión</h2>
                  <% @missions.each do |mission| %>
                    <p>"<%= mission.title %>"</p>
                  <% end %>
              </div>
              <div class="column">
                  <h2 class="title is-4">Visión</h2>
                  <% @visions.each do |vision| %>
                    <p>"<%= vision.title %>"</p>
                  <% end %>
              </div>
          </div>

          

        </div>
      </div>
  </div>  
</div>