<% @title = "Editar Datos" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Datos de Indicadores", datos_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Datos</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Datos</p>
          <p class="subtitle is-6 has-text-centered">Modificar los datos del indicadores.</p>
                      
          <%= render 'form', dato: @dato, indicator_id: @indicator_id %>

            <%= link_to 'Regresar', datos_path %>
      </div>
  </div> 

  
</div>