<% @title = "Agregar información de la org." %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "información de la org.", informations_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Agregar información de la org.</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Agregar información de la org.</p>
          <p class="subtitle is-6 has-text-centered">Nueva información de la organización.</p>
                      
          <%= render 'form', information: @information %>

            <%= link_to 'Regresar', informations_path %>
      </div>
  </div> 

  
</div>

