<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Áreas", areas_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Áreas</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Áreas</p>
          <p class="subtitle is-6 has-text-centered">Editar la Áreas de la organización.</p>
                      
          <%= render 'form', area: @area %>

            <%= link_to 'Regresar', activities_path %>
        </div>
      </div>

  </div>
</div>

