<% @title = "Editar Estrategia" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Matriz foda", strategies_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Estrategia</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Estrategia</p>
          <p class="subtitle is-6 has-text-centered">Editar la estrategia de la matriz foda.</p>
            <!--<form-estrategia-edit
              :id="<%#=  @strategy.id.to_json %>"
              :strategy="<%#= @strategy.to_json(except: [:created_at, :updated_at]) %>"            
              />-->

            <%= content_tag :div,
              id: "editar_form_estrategia",
              data: {
                  id: @strategy.id,
                  strategy: @strategy.to_json(except: [:created_at, :updated_at])
              } do %>
            <% end %>

          <%= link_to 'Regresar', strategies_path %>
        </div>
      </div>

  </div>
</div>

