<% @title = "Editar Actividad" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Actividades", activities_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Editar Actividad</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="card margin-small">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Editar Actividad</p>
          <p class="subtitle is-6 has-text-centered">Modificar actividad de la organización.</p>
                      
          <%= render 'form', activity: @activity %>

            <%= link_to 'Regresar', activities_path %>
        </div>
      </div>

  </div>
</div>

